In [2]:
import pandas as pd
import numpy as np
import glob

In [55]:
name_dict = {0:"season", 1:"weather", 2:"law", 3:"acc1", 4:"acc2", 
             5:"time", 6:"age", 7:"day", 8:"career", 9:"sex", 10:"month", 11:"drink", 12:"holiday"}
data = {}

name_l = glob.glob("../result/서울_*.xlsx")
len(name_l)

13

In [56]:
for i,j in enumerate(name_l):
    tmp_df = pd.read_excel(j)
    data[name_dict[i]] = tmp_df.iloc[:,1:]
data

{'season':      시도    구    연도  발생_가을(9~11월)  발생_겨울(12~2월)  발생_봄(3~5월)  발생_여름(6~8월)  \
 0    서울  강남구  2018           838           857         849          915
 1    서울  강남구  2019          1021           858         895          948
 2    서울  강남구  2020           926           887         876         1063
 3    서울  강남구  2021           972           952         934          962
 4    서울  강남구  2022           978           852         890          989
 ..   ..  ...   ...           ...           ...         ...          ...
 120  서울  중랑구  2018           417           374         388          386
 121  서울  중랑구  2019           474           366         386          394
 122  서울  중랑구  2020           416           362         331          338
 123  서울  중랑구  2021           339           327         367          340
 124  서울  중랑구  2022           352           318         363          368

      사망_가을(9~11월)  사망_겨울(12~2월)  사망_봄(3~5월)  사망_여름(6~8월)
 0               6             5           4            5
 1               4             6           2            2
 2               4             5           7            1
 3               2             4           1            3
 4               3             3           7            3
 ..            ...           ...         ...          ...
 120             2             2           4            2
 121             4             0           4            4
 122             1             1           2            0
 123             1             2           2            2
 124             5             2           2            1

 [125 rows x 11 columns],
 'weather':      시도    구    연도  발생_기타  발생_눈  발생_맑음  발생_비  발생_안개  발생_흐림  사망_기타  사망_눈  \
 0    서울  강남구  2018  328.0  26.0   6008   382    NaN    174    0.0   0.0
 1    서울  강남구  2019  218.0   2.0   6616   412    2.0    194    0.0   0.0
 2    서울  강남구  2020  302.0  12.0   6370   564    NaN    256    0.0   0.0
 3    서울  강남구  2021  298.0  76.0   6616   432    NaN    218    0.0   0.0
 4    서울  강남구  2022  324.0  30.0   6516   402    NaN    146    2.0   2.0
 ..   ..  ...   ...    ...   ...    ...   ...    ...    ...    ...   ...
 120  서울  중랑구  2018   14.0   7.0   1394    79    NaN     71    1.0   0.0
 121  서울  중랑구  2019   24.0   2.0   1444    86    NaN     64    0.0   0.0
 122  서울  중랑구  2020   35.0   1.0   1277    93    NaN     41    0.0   0.0
 123  서울  중랑구  2021   39.0   5.0   1216    74    NaN     39    0.0   0.0
 124  서울  중랑구  2022   56.0   2.0   1200    77    NaN     66    0.0   0.0

      사망_맑음  사망_비  사망_안개  사망_흐림
 0       30     8    NaN      2
 1       24     4    0.0      0
 2       30     2    NaN      2
 3       16     2    NaN      2
 4       22     6    NaN      0
 ..     ...   ...    ...    ...
 120      7     1    NaN      1
 121      7     1    NaN      4
 122      4     0    NaN      0
 123      6     1    NaN      0
 124      9     0    NaN      1

 [125 rows x 15 columns],
 'law':      시도    구    연도  발생_과속  발생_교차로운행방법위반  발생_기타  발생_보행자보호의무위반  발생_불법유턴  \
 0    서울  강남구  2018    4.0           133    110           101     17.0
 1    서울  강남구  2019   13.0           154    143           125     28.0
 2    서울  강남구  2020    9.0           159    173           113     42.0
 3    서울  강남구  2021    NaN           162    202            99     38.0
 4    서울  강남구  2022   17.0           138    109           102     17.0
 ..   ..  ...   ...    ...           ...    ...           ...      ...
 120  서울  중랑구  2018    1.0           112     87            64     33.0
 121  서울  중랑구  2019    5.0           129     84            71     33.0
 122  서울  중랑구  2020    2.0           131     64            42     28.0
 123  서울  중랑구  2021    NaN           111     60            48     30.0
 124  서울  중랑구  2022    2.0           123     75            59     28.0

      발생_신호위반  발생_안전거리미확보  ...  사망_교차로운행방법위반  사망_기타  사망_보행자보호의무위반  사망_불법유턴  \
 0        300         491  ...             0      1             1      0.0
 1        330         515  ...             0      0             0      1.0
 2        322         558  ...             0      0             1      0.0
 3        371         635  ...             0      1             1      0.0
 4        349         474  ...             0      0             1      0.0
 ..       ...         ...  ...           ...    ...           ...      ...
 120      177         184  ...             0      0             1      0.0
 121      189         213  ...             0      0             0      0.0
 122      169         187  ...             0      0             0      0.0
 123      167         162  ...             0      0             0      0.0
 124      161         167  ...             0      0             1      0.0

      사망_신호위반  사망_안전거리미확보  사망_안전운전불이행  사망_중앙선침범  사망_직진우회전진행방해  사망_차로위반
 0          5           1          11         0             0        0
 1          1           0          10         0             0        0
 2          3           2          10         0             0        1
 3          0           0           8         0             0        0
 4          5           0           6         1             0        0
 ..       ...         ...         ...       ...           ...      ...
 120        2           0           4         2             0        0
 121        0           0           7         3             0        0
 122        1           0           2         0             0        0
 123        0           0           7         0             0        0
 124        0           0           8         1             0        0

 [125 rows x 25 columns],
 'acc1':      시도    구    연도  발생_차대사람  발생_차대차  발생_차량단독  사망_차대사람  사망_차대차  사망_차량단독
 0    서울  강남구  2018      749    2639       71        9      10        1
 1    서울  강남구  2019      825    2832       65        7       6        1
 2    서울  강남구  2020      721    2964       67        8       7        2
 3    서울  강남구  2021      659    3103       58        6       2        2
 4    서울  강남구  2022      771    2879       59        7       9        0
 ..   ..  ...   ...      ...     ...      ...      ...     ...      ...
 120  서울  중랑구  2018      432    1075       58        8       2        0
 121  서울  중랑구  2019      470    1088       62        7       4        1
 122  서울  중랑구  2020      358    1032       57        4       0        0
 123  서울  중랑구  2021      332    1000       41        6       0        1
 124  서울  중랑구  2022      353    1006       42        6       3        1

 [125 rows x 9 columns],
 'acc2':      시도    구    연도  발생_공작물추돌  발생_길가장자리구역통행중  발생_도로외이탈(기타)  발생_도로외이탈(추락)  \
 0    서울  강남구  2018      18.0            112           1.0           NaN
 1    서울  강남구  2019      13.0             96           NaN           NaN
 2    서울  강남구  2020       8.0             94           NaN           1.0
 3    서울  강남구  2021      11.0             70           1.0           NaN
 4    서울  강남구  2022       8.0             70           NaN           NaN
 ..   ..  ...   ...       ...            ...           ...           ...
 120  서울  중랑구  2018      11.0             33           NaN           NaN
 121  서울  중랑구  2019      19.0             32           NaN           NaN
 122  서울  중랑구  2020      17.0             29           NaN           NaN
 123  서울  중랑구  2021       4.0             15           NaN           NaN
 124  서울  중랑구  2022       6.0             27           NaN           2.0

      발생_보도통행중  발생_전도  발생_전복  ...  사망_정면충돌  사망_주차차량추돌  사망_차대사람-기타  사망_차대차-기타  \
 0          43    3.0    NaN  ...        2        NaN           2          4
 1          66    2.0    NaN  ...        1        NaN           3          3
 2          65    9.0    NaN  ...        1        NaN           1          3
 3          58    7.0    1.0  ...        0        NaN           4          1
 4          61    3.0    1.0  ...        0        NaN           3          5
 ..        ...    ...    ...  ...      ...        ...         ...        ...
 120        22    8.0    1.0  ...        1        NaN           1          0
 121        28    8.0    NaN  ...        2        NaN           0          1
 122        13   10.0    1.0  ...        0        NaN           2          0
 123        26    8.0    NaN  ...        0        NaN           2          0
 124        25    5.0    NaN  ...        0        0.0           2          1

      사망_차도통행중  사망_차량단독-기타  사망_추돌(진행중)  사망_측면직각충돌  사망_횡단중  사망_후진중추돌
 0           1           1           2          2       4         0
 1           2           0           1          1       1         0
 2           2           2           1          2       4         0
 3           0           0           1          0       2         0
 4           0           0           1          3       4         0
 ..        ...         ...         ...        ...     ...       ...
 120         3           0           0          1       3         0
 121         1           0           0          1       6         0
 122         0           0           0          0       2         0
 123         1           0           0          0       3         0
 124         0           0           1          1       4         0

 [125 rows x 37 columns],
 'time':      시도    구    연도  발생_00~02시  발생_02~04시  발생_04~06시  발생_06~08시  발생_08~10시  \
 0    서울  강남구  2018        299        213        164        169        296
 1    서울  강남구  2019        247        177        133        169        304
 2    서울  강남구  2020        230        144        113        131        294
 3    서울  강남구  2021        150         86         55        109        290
 4    서울  강남구  2022        206        141        103        132        292
 ..   ..  ...   ...        ...        ...        ...        ...        ...
 120  서울  중랑구  2018         86         39         75         73        135
 121  서울  중랑구  2019         82         45         57         81        173
 122  서울  중랑구  2020         63         41         45         71        121
 123  서울  중랑구  2021         40         14         29         66        110
 124  서울  중랑구  2022         61         22         38         57        122

      발생_10~12시  발생_12~14시  ...  사망_04~06시  사망_06~08시  사망_08~10시  사망_10~12시  \
 0          317        337  ...          5          3          2          0
 1          312        392  ...          2          0          0          0
 2          350        403  ...          3          0          0          1
 3          375        473  ...          0          1          0          1
 4          356        458  ...          0          2          1          0
 ..         ...        ...  ...        ...        ...        ...        ...
 120        128        148  ...          1          1          0          1
 121        139        172  ...          1          2          3          0
 122        133        140  ...          1          1          0          0
 123        142        157  ...          0          0          0          0
 124        128        154  ...          0          1          0          2

      사망_12~14시  사망_14~16시  사망_16~18시  사망_18~20시  사망_20~22시  사망_22~24시
 0            2          0          1          0          0          2
 1            2          1          1          1          0          3
 2            1          2          0          1          2          5
 3            2          0          0          0          0          3
 4            1          1          1          2          2          1
 ..         ...        ...        ...        ...        ...        ...
 120          1          1          0          2          2          0
 121          0          1          1          0          0          1
 122          0          0          0          0          0          1
 123          2          0          0          2          0          1
 124          1          1          1          0          1          0

 [125 rows x 27 columns],
 'age':      시도    구    연도  발생_20대  발생_20대미만  발생_30대  발생_40대  발생_50대  발생_60대 이상  \
 0    서울  강남구  2018     405        35     692     608     745        900
 1    서울  강남구  2019     506        43     787     703     779        809
 2    서울  강남구  2020     500        59     759     702     747        885
 3    서울  강남구  2021     546        56     775     750     709        895
 4    서울  강남구  2022     487        51     728     720     634        985
 ..   ..  ...   ...     ...       ...     ...     ...     ...        ...
 120  서울  중랑구  2018     174        52     239     245     388        431
 121  서울  중랑구  2019     184        52     218     284     381        438
 122  서울  중랑구  2020     174        60     226     232     334        379
 123  서울  중랑구  2021     170        33     215     226     312        363
 124  서울  중랑구  2022     145        45     179     222     313        456

      발생_알수없음  사망_20대  사망_20대미만  사망_30대  사망_40대  사망_50대  사망_60대 이상  사망_알수없음
 0         74       2         0       2       3       5          8        0
 1         95       4         0       1       1       6          2        0
 2        100       1         0       5       2       4          5        0
 3         89       2         0       2       3       0          3        0
 4        104       6         1       3       2       2          2        0
 ..       ...     ...       ...     ...     ...     ...        ...      ...
 120       36       1         0       1       1       3          4        0
 121       63       1         1       1       2       1          6        0
 122       42       1         0       0       0       1          2        0
 123       54       1         0       0       3       2          1        0
 124       41       1         1       0       3       2          3        0

 [125 rows x 17 columns],
 'day':      시도    구    연도  발생_금요일  발생_목요일  발생_수요일  발생_월요일  발생_일요일  발생_토요일  발생_화요일  \
 0    서울  강남구  2018     536     516     478     339     514     592     484
 1    서울  강남구  2019     581     534     586     330     534     612     545
 2    서울  강남구  2020     588     618     560     314     497     635     540
 3    서울  강남구  2021     601     577     611     334     511     674     512
 4    서울  강남구  2022     586     568     544     302     580     605     524
 ..   ..  ...   ...     ...     ...     ...     ...     ...     ...     ...
 120  서울  중랑구  2018     218     227     214     193     242     252     219
 121  서울  중랑구  2019     242     231     253     188     226     254     226
 122  서울  중랑구  2020     210     186     237     153     206     230     225
 123  서울  중랑구  2021     185     187     207     172     182     247     193
 124  서울  중랑구  2022     222     193     203     148     207     236     192

      사망_금요일  사망_목요일  사망_수요일  사망_월요일  사망_일요일  사망_토요일  사망_화요일
 0         3       1       2       4       2       2       6
 1         3       4       4       0       1       1       1
 2         1       3       1       2       4       3       3
 3         1       1       5       0       2       1       0
 4         4       4       0       1       3       3       1
 ..      ...     ...     ...     ...     ...     ...     ...
 120       4       0       0       1       3       1       1
 121       0       4       1       2       1       3       1
 122       1       0       1       0       0       0       2
 123       2       0       0       1       3       0       1
 124       2       1       1       0       2       1       3

 [125 rows x 17 columns],
 'career':      시도    구    연도  발생_10년미만  발생_15년미만  발생_15년이상  발생_1년미만  발생_2년미만  발생_3년미만  \
 0    서울  강남구  2018       408       331      2208       66       80       80
 1    서울  강남구  2019       436       390      2284       78       67       72
 2    서울  강남구  2020       423       361      2303       70       77       70
 3    서울  강남구  2021       479       386      2345       82       73       78
 4    서울  강남구  2022       497       437      2134       83       73       62
 ..   ..  ...   ...       ...       ...       ...      ...      ...      ...
 120  서울  중랑구  2018       146       109      1085       39       31       21
 121  서울  중랑구  2019       145       133      1014       34       27       32
 122  서울  중랑구  2020       151       125       852       38       24       18
 123  서울  중랑구  2021       129       128       822       28       25       21
 124  서울  중랑구  2022       136       148       834       48       30       22

      발생_4년미만  ...  발생_알수없음  사망_10년미만  사망_15년미만  사망_15년이상  사망_1년미만  사망_2년미만  \
 0         69  ...      151         3         0        15        1        0
 1         86  ...      232         3         0         9        0        0
 2         77  ...      275         1         0        13        1        0
 3         62  ...      240         2         0         7        0        0
 4         67  ...      267         4         1         7        2        0
 ..       ...  ...      ...       ...       ...       ...      ...      ...
 120       25  ...       89         0         1         8        0        0
 121       24  ...      184         0         1         7        0        0
 122       33  ...      181         0         1         2        0        0
 123       17  ...      177         0         2         5        0        0
 124       15  ...      145         1         1         7        1        0

      사망_3년미만  사망_4년미만  사망_5년미만  사망_알수없음
 0          1        0        0        0
 1          1        1        0        0
 2          0        1        0        1
 3          1        0        0        0
 4          0        0        1        1
 ..       ...      ...      ...      ...
 120        0        0        0        1
 121        0        0        1        3
 122        0        0        0        1
 123        0        0        0        0
 124        0        0        0        0

 [125 rows x 21 columns],
 'sex':      시도    구    연도  발생_남성  발생_알수없음  발생_여성  사망_남성  사망_알수없음  사망_여성
 0    서울  강남구  2018   2720       74    665     19        0      1
 1    서울  강남구  2019   2822       92    808     14        0      0
 2    서울  강남구  2020   2835       97    820     15        0      2
 3    서울  강남구  2021   2852       89    879      9        0      1
 4    서울  강남구  2022   2698      103    908     14        0      2
 ..   ..  ...   ...    ...      ...    ...    ...      ...    ...
 120  서울  중랑구  2018   1265       36    264     10        0      0
 121  서울  중랑구  2019   1277       63    280     12        0      0
 122  서울  중랑구  2020   1159       42    246      4        0      0
 123  서울  중랑구  2021   1078       54    241      7        0      0
 124  서울  중랑구  2022   1105       41    255     10        0      0

 [125 rows x 9 columns],
 'month':      시도    구    연도  발생_01  발생_02  발생_03  발생_04  발생_05  발생_06  발생_07  ...  \
 0    서울  강남구  2018    316    249    278    283    288    288    326  ...
 1    서울  강남구  2019    281    227    280    295    320    302    326  ...
 2    서울  강남구  2020    275    343    265    291    320    337    396  ...
 3    서울  강남구  2021    315    315    299    325    310    339    322  ...
 4    서울  강남구  2022    339    221    244    327    319    322    360  ...
 ..   ..  ...   ...    ...    ...    ...    ...    ...    ...    ...  ...
 120  서울  중랑구  2018    125    125    116    121    151    130    144  ...
 121  서울  중랑구  2019    122    117    118    134    134    131    125  ...
 122  서울  중랑구  2020    112    159     91    116    124    129    101  ...
 123  서울  중랑구  2021    104    106    133    124    110    120    120  ...
 124  서울  중랑구  2022    114     89     95    133    135    119    128  ...

      사망_03  사망_04  사망_05  사망_06  사망_07  사망_08  사망_09  사망_10  사망_11  사망_12
 0        3      1      0      0      2      3      2      2      2      3
 1        2      0      0      1      0      1      0      2      2      1
 2        1      3      3      0      0      1      0      2      2      0
 3        0      1      0      0      1      2      1      1      0      3
 4        3      1      3      1      1      1      1      0      2      2
 ..     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...

In [57]:
tmp_data = pd.DataFrame()
for i in [0,1,2,5,6,7,8,9,10,11,12]:
    tmp = data[name_dict[i]].iloc[:,3:]
    tmp_data = pd.concat([tmp_data ,tmp], axis= 1)
tmp_data

,발생_가을(9~11월),발생_겨울(12~2월),발생_봄(3~5월),발생_여름(6~8월),사망_가을(9~11월),사망_겨울(12~2월),사망_봄(3~5월),사망_여름(6~8월),발생_기타,발생_눈,...,사망_11,사망_12,발생_음주O,발생_음주X,사망_음주O,사망_음주X,발생_평일,발생_휴일,사망_평일,사망_휴일
0,838,857,849,915,6,5,4,5,328.0,26.0,...,2,3,373,3086,1,19,2353,1106,16,4
1,1021,858,895,948,4,6,2,2,218.0,2.0,...,2,1,293,3429,1,13,2576,1146,12,2
2,926,887,876,1063,4,5,7,1,302.0,12.0,...,2,0,336,3416,3,14,2620,1132,10,7
3,972,952,934,962,2,4,1,3,298.0,76.0,...,0,3,273,3547,1,9,2635,1185,7,3
4,978,852,890,989,3,3,7,3,324.0,30.0,...,2,2,360,3349,1,15,2524,1185,10,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,417,374,388,386,2,2,4,2,14.0,7.0,...,2,0,82,1483,1,9,1071,494,6,4
121,474,366,386,394,4,0,4,4,24.0,2.0,...,0,0,74,1546,0,12,1140,480,8,4
122,416,362,331,338,1,1,2,0,35.0,1.0,...,1,0,62,1385,0,4,1011,436,4,0
123,339,327,367,340,1,2,2,2,39.0,5.0,...,0,1,63,1310,1,6,944,429,4,3
124,352,318,363,368,5,2,2,1,56.0,2.0,...,4,1,58,1343,1,9,958,443,7,3

In [64]:
tmp_data_r = pd.DataFrame()
for i in range(13):
    tmp = data[name_dict[i]].iloc[:,3:]
    tmp_data_r = pd.concat([tmp_data ,tmp], axis= 1)
tmp_data_r

,발생_가을(9~11월),발생_겨울(12~2월),발생_봄(3~5월),발생_여름(6~8월),사망_가을(9~11월),사망_겨울(12~2월),사망_봄(3~5월),사망_여름(6~8월),발생_기타,발생_눈,...,사망_음주O,사망_음주X,발생_평일,발생_휴일,사망_평일,사망_휴일,발생_평일,발생_휴일,사망_평일,사망_휴일
0,838,857,849,915,6,5,4,5,328.0,26.0,...,1,19,2353,1106,16,4,2353,1106,16,4
1,1021,858,895,948,4,6,2,2,218.0,2.0,...,1,13,2576,1146,12,2,2576,1146,12,2
2,926,887,876,1063,4,5,7,1,302.0,12.0,...,3,14,2620,1132,10,7,2620,1132,10,7
3,972,952,934,962,2,4,1,3,298.0,76.0,...,1,9,2635,1185,7,3,2635,1185,7,3
4,978,852,890,989,3,3,7,3,324.0,30.0,...,1,15,2524,1185,10,6,2524,1185,10,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,417,374,388,386,2,2,4,2,14.0,7.0,...,1,9,1071,494,6,4,1071,494,6,4
121,474,366,386,394,4,0,4,4,24.0,2.0,...,0,12,1140,480,8,4,1140,480,8,4
122,416,362,331,338,1,1,2,0,35.0,1.0,...,0,4,1011,436,4,0,1011,436,4,0
123,339,327,367,340,1,2,2,2,39.0,5.0,...,1,6,944,429,4,3,944,429,4,3
124,352,318,363,368,5,2,2,1,56.0,2.0,...,1,9,958,443,7,3,958,443,7,3

In [65]:
data_all = pd.DataFrame()
data_all = pd.concat([data_all,data["sex"].iloc[:,0:3]])
data_all["발생_전체"] = data["sex"]["발생_남성"] + data["sex"]["발생_알수없음"] + data["sex"]["발생_여성"]

In [66]:
data_all["사망_전체"] = data["sex"]["사망_남성"] + data["sex"]["사망_알수없음"] + data["sex"]["사망_여성"]
data_all

     시도    구    연도  발생_전체  사망_전체
0    서울  강남구  2018   3459     20
1    서울  강남구  2019   3722     14
2    서울  강남구  2020   3752     17
3    서울  강남구  2021   3820     10
4    서울  강남구  2022   3709     16
..   ..  ...   ...    ...    ...
120  서울  중랑구  2018   1565     10
121  서울  중랑구  2019   1620     12
122  서울  중랑구  2020   1447      4
123  서울  중랑구  2021   1373      7
124  서울  중랑구  2022   1401     10

[125 rows x 5 columns]

In [60]:
data_all= pd.concat([data_all,tmp_data], axis=1)

In [67]:
#data_all= pd.concat([data_all,tmp_data_r], axis=1)

In [68]:
data_all.shape

(125, 349)

In [69]:
#data_all.to_excel("../result/서울_전체_overhaul.xlsx")
data_all.to_excel("../result/서울_전체_.xlsx")

In [ ]:
name_l = glob.glob("../data/sido/*")
for i in name_l:
    file_l = glob.glob(f"{i}/*")
    
    for k, j in enumerate(file_l):
        tmp = pd.read_excel(j)
        tmp = tmp.iloc[:,1:]
        if k == 0:
            first = tmp
        first = pd.merge(first,tmp, on = ["시도", "구", "연도"])
    first = first.fillna(0)
    first["발생_전체"] = first.iloc[:,3:7].sum(axis=1)
    first["사망_전체"] = first.iloc[:,7:11].sum(axis=1)
    first.to_excel(f"../data/result/{i[-2:]}_전체.xlsx", index=False)

In [5]:
file_l = glob.glob("../data/sido/대구/*")
    
for k, j in enumerate(file_l):
    tmp = pd.read_excel(j)
    tmp = tmp.iloc[:,1:]
    if k == 0:
        first = tmp
    first = pd.merge(first,tmp, on = ["시도", "구", "연도"], how = "left")
first = first.fillna(0)
first["발생_전체"] = first.iloc[:,3:7].sum(axis=1)
first["사망_전체"] = first.iloc[:,7:11].sum(axis=1)
first.to_excel(f"../data/result/대구_전체.xlsx", index=False)

In [29]:
name_l = glob.glob("../data/result/*.xlsx")
for i in name_l:
    tmp = pd.read_excel(i)
    print(tmp.shape)

(90, 207)
(155, 207)
(90, 207)
(115, 207)
(25, 207)
(35, 207)
(25, 207)
(80, 207)
(125, 207)
(5, 207)
(25, 207)
(50, 207)
(110, 207)
(70, 207)
(10, 207)
(75, 207)
(55, 207)

In [17]:
t = pd.read_excel("../data/result/경기_전체.xlsx")
col = list(t.columns)
col

['시도',
 '구',
 '연도',
 '발생_가을(9~11월)_x',
 '발생_겨울(12~2월)_x',
 '발생_봄(3~5월)_x',
 '발생_여름(6~8월)_x',
 '사망_가을(9~11월)_x',
 '사망_겨울(12~2월)_x',
 '사망_봄(3~5월)_x',
 '사망_여름(6~8월)_x',
 '발생_가을(9~11월)_y',
 '발생_겨울(12~2월)_y',
 '발생_봄(3~5월)_y',
 '발생_여름(6~8월)_y',
 '사망_가을(9~11월)_y',
 '사망_겨울(12~2월)_y',
 '사망_봄(3~5월)_y',
 '사망_여름(6~8월)_y',
 '발생_기타_x',
 '발생_눈',
 '발생_맑음',
 '발생_비',
 '발생_안개',
 '발생_흐림',
 '사망_기타_x',
 '사망_눈',
 '사망_맑음',
 '사망_비',
 '사망_안개',
 '사망_흐림',
 '발생_과속',
 '발생_교차로운행방법위반',
 '발생_기타_y',
 '발생_보행자보호의무위반',
 '발생_불법유턴',
 '발생_신호위반',
 '발생_안전거리미확보',
 '발생_안전운전불이행',
 '발생_중앙선침범',
 '발생_직진우회전진행방해',
 '발생_차로위반',
 '사망_과속',
 '사망_교차로운행방법위반',
 '사망_기타_y',
 '사망_보행자보호의무위반',
 '사망_불법유턴',
 '사망_신호위반',
 '사망_안전거리미확보',
 '사망_안전운전불이행',
 '사망_중앙선침범',
 '사망_직진우회전진행방해',
 '사망_차로위반',
 '발생_차대사람',
 '발생_차대차',
 '발생_차량단독',
 '발생_철길건널목',
 '사망_차대사람',
 '사망_차대차',
 '사망_차량단독',
 '사망_철길건널목',
 '발생_공작물추돌',
 '발생_길가장자리구역통행중',
 '발생_도로외이탈(기타)',
 '발생_도로외이탈(추락)',
 '발생_보도통행중',
 '발생_전도',
 '발생_전복',
 '발생_정면충돌',
 '발생_주차차량추돌',
 '발생_차대사람-기타',
 '발생_차대차-기타',
 '발생_차도통행중',
 '발생_차량단독-기타',
 '발생_철길건널목-기타',
 '발생_추돌(진행중)',
 '발생_측면직각충돌',
 '발생_횡단중',
 '발생_후진중추돌',
 '사망_공작물추돌',
 '사망_길가장자리구역통행중',
 '사망_도로외이탈(기타)',
 '사망_도로외이탈(추락)',
 '사망_보도통행중',
 '사망_전도',
 '사망_전복',
 '사망_정면충돌',
 '사망_주차차량추돌',
 '사망_차대사람-기타',
 '사망_차대차-기타',
 '사망_차도통행중',
 '사망_차량단독-기타',
 '사망_철길건널목-기타',
 '사망_추돌(진행중)',
 '사망_측면직각충돌',
 '사망_횡단중',
 '사망_후진중추돌',
 '발생_00~02시',
 '발생_02~04시',
 '발생_04~06시',
 '발생_06~08시',
 '발생_08~10시',
 '발생_10~12시',
 '발생_12~14시',
 '발생_14~16시',
 '발생_16~18시',
 '발생_18~20시',
 '발생_20~22시',
 '발생_22~24시',
 '사망_00~02시',
 '사망_02~04시',
 '사망_04~06시',
 '사망_06~08시',
 '사망_08~10시',
 '사망_10~12시',
 '사망_12~14시',
 '사망_14~16시',
 '사망_16~18시',
 '사망_18~20시',
 '사망_20~22시',
 '사망_22~24시',
 '발생_20대',
 '발생_20대미만',
 '발생_30대',
 '발생_40대',
 '발생_50대',
 '발생_60대 이상',
 '발생_알수없음_x',
 '사망_20대',
 '사망_20대미만',
 '사망_30대',
 '사망_40대',
 '사망_50대',
 '사망_60대 이상',
 '사망_알수없음_x',
 '발생_금요일',
 '발생_목요일',
 '발생_수요일',
 '발생_월요일',
 '발생_일요일',
 '발생_토요일',
 '발생_화요일',
 '사망_금요일',
 '사망_목요일',
 '사망_수요일',
 '사망_월요일',
 '사망_일요일',
 '사망_토요일',
 '사망_화요일',
 '발생_10년미만',
 '발생_15년미만',
 '발생_15년이상',
 '발생_1년미만',
 '발생_2년미만',
 '발생_3년미만',
 '발생_4년미만',
 '발생_5년미만',
 '발생_알수없음_y',
 '사망_10년미만',
 '사망_15년미만',
 '사망_15년이상',
 '사망_1년미만',
 '사망_2년미만',
 '사망_3년미만',
 '사망_4년미만',
 '사망_5년미만',
 '사망_알수없음_y',
 '발생_남성',
 '발생_알수없음',
 '발생_여성',
 '사망_남성',
 '사망_알수없음',
 '사망_여성',
 '발생_01',
 '발생_02',
 '발생_03',
 '발생_04',
 '발생_05',
 '발생_06',
 '발생_07',
 '발생_08',
 '발생_09',
 '발생_10',
 '발생_11',
 '발생_12',
 '사망_01',
 '사망_02',
 '사망_03',
 '사망_04',
 '사망_05',
 '사망_06',
 '사망_07',
 '사망_08',
 '사망_09',
 '사망_10',
 '사망_11',
 '사망_12',
 '발생_음주O',
 '발생_음주X',
 '사망_음주O',
 '사망_음주X',
 '발생_평일',
 '발생_휴일',
 '사망_평일',
 '사망_휴일',
 '발생_전체',
 '사망_전체']

In [18]:
tm = pd.DataFrame(columns=col)
tm

Empty DataFrame
Columns: [시도, 구, 연도, 발생_가을(9~11월)_x, 발생_겨울(12~2월)_x, 발생_봄(3~5월)_x, 발생_여름(6~8월)_x, 사망_가을(9~11월)_x, 사망_겨울(12~2월)_x, 사망_봄(3~5월)_x, 사망_여름(6~8월)_x, 발생_가을(9~11월)_y, 발생_겨울(12~2월)_y, 발생_봄(3~5월)_y, 발생_여름(6~8월)_y, 사망_가을(9~11월)_y, 사망_겨울(12~2월)_y, 사망_봄(3~5월)_y, 사망_여름(6~8월)_y, 발생_기타_x, 발생_눈, 발생_맑음, 발생_비, 발생_안개, 발생_흐림, 사망_기타_x, 사망_눈, 사망_맑음, 사망_비, 사망_안개, 사망_흐림, 발생_과속, 발생_교차로운행방법위반, 발생_기타_y, 발생_보행자보호의무위반, 발생_불법유턴, 발생_신호위반, 발생_안전거리미확보, 발생_안전운전불이행, 발생_중앙선침범, 발생_직진우회전진행방해, 발생_차로위반, 사망_과속, 사망_교차로운행방법위반, 사망_기타_y, 사망_보행자보호의무위반, 사망_불법유턴, 사망_신호위반, 사망_안전거리미확보, 사망_안전운전불이행, 사망_중앙선침범, 사망_직진우회전진행방해, 사망_차로위반, 발생_차대사람, 발생_차대차, 발생_차량단독, 발생_철길건널목, 사망_차대사람, 사망_차대차, 사망_차량단독, 사망_철길건널목, 발생_공작물추돌, 발생_길가장자리구역통행중, 발생_도로외이탈(기타), 발생_도로외이탈(추락), 발생_보도통행중, 발생_전도, 발생_전복, 발생_정면충돌, 발생_주차차량추돌, 발생_차대사람-기타, 발생_차대차-기타, 발생_차도통행중, 발생_차량단독-기타, 발생_철길건널목-기타, 발생_추돌(진행중), 발생_측면직각충돌, 발생_횡단중, 발생_후진중추돌, 사망_공작물추돌, 사망_길가장자리구역통행중, 사망_도로외이탈(기타), 사망_도로외이탈(추락), 사망_보도통행중, 사망_전도, 사망_전복, 사망_정면충돌, 사망_주차차량추돌, 사망_차대사람-기타, 사망_차대차-기타, 사망_차도통행중, 사망_차량단독-기타, 사망_철길건널목-기타, 사망_추돌(진행중), 사망_측면직각충돌, 사망_횡단중, 사망_후진중추돌, 발생_00~02시, 발생_02~04시, 발생_04~06시, ...]
Index: []

[0 rows x 207 columns]

In [20]:
ff =pd.read_excel("../data/result/강원_전체.xlsx")
v = pd.concat([tm,ff])
v.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Columns: 207 entries, 시도 to 사망_전체
dtypes: object(207)
memory usage: 134.4+ KB

In [28]:
name_l = glob.glob("../data/result/*.xlsx")
for i in name_l:
    tmp = pd.read_excel(i)
    if tmp.shape[1] != 207:
        v = pd.concat([tm,tmp])
        v = v.fillna(0)
        v.to_excel(i, index=False)